.ipynb_checkpoints/
*.pyc
outputs/prueba_definitiva/
embedia tests/project tests/outputs
*.bak
*.pyc
*.o
*.pyc
*.pyc
*.exe
.vscode/
.idea/
mini_speech_commands/
/embedia tests/functions tests/outputs/
/embedia tests/playground/
